.notification-page {
  font-family: futura;
  color: #161846;
  font-weight: 800;
  position: absolute;
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 1%;
}

.notification-page p {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size:16px;
  color: #161846;
  text-align: center;
  align-items: center;
  border-top-style: solid;
  border-top-width: thick;
  padding-top: 3%;
  padding-bottom: 5%;

}

.notification-div {
  border-top-style: solid;
  border-top-width: thick;
  min-width: 18%;
}

.notification-page a {
  text-decoration: none;
  color: #161846;
}
