.avatar {
  border-radius: 50%;
  background-color: #fff;
}
.sign-up-form div {
  width: 100vw;
  display: block;
  font-family: futura;
  color: black;
  font-weight: 800;
  position: fixed;
  margin-top: 2%;
  text-align: center;
  overflow: auto;
  height: 400px;
  margin-bottom: 2%;
}


.account-page form {
  padding-bottom: 2%;
  padding-top: 2%;
}

.account-page h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}

.toggle img {
  margin-bottom: 0;
  padding-bottom: 0;
}

.account-page {
  /* display: block; */
  /* margin-left: auto;
  margin-right: auto; */
  font-family: futura;
  color: black;
  /* font-size: 3em; */
  font-weight: 800;
  position: absolute;
  text-align: center;
  /* padding: 2%; */
  /* padding-left: 43%; */
  overflow: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

.sign-up-form input {
  min-height: 30px;
  font-size: 12px;
  text-align: center;
  font-family: futura;
  margin-left: 5px;
  margin-right: 5px;
}

.sign-up-form select {
  min-height: 30px;
  font-size: 12px;
  text-align: center;
  font-family: futura;
}

.sign-up-form textarea {
  min-height: 30px;
  font-size: 12px;
  text-align: center;
  font-family: futura;
}
