body {
  margin: 0;
  font-family: tahoma;
  font-weight: 700;
  font-size: 16px;
}

header {
  // background: #cf8553;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 95%;
  margin: 0 auto;
  // display: inline-block;
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
}

.logo {
  float: center;
  display: block;
  max-height:140px;
  height: auto;
  width: auto;
  padding: 2% 5% 0 5%;
}

#account {
  float: right;
  // background-color: green;
  width: 100%;
  // min-width: 50%;

}

#account ul {
  float: right;
}


#menu {
  float: left;
  // background-color: red;
  width: 100%;
  // min-width: 50%;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  padding-top: 5%;
}

nav li {
  display: inline-block;
  margin-left: 5%;
  padding-top: 8%;

  position: relative;
}

nav a {
  color: #161846;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #54a4a6;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  background-color: #dd7a00;

  position: absolute;
  top:0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

nav img {
  // background-color: red;
  margin: 5%;

}
