.options-holder {
  /* width: 100vw; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: futura;
  color: #54a4a6;
  font-weight: 800;
  position: relative;
  margin-top: 2%;
  text-align: center;
  /* overflow: auto; */
  height: 200px;

}
.event-form {
  /* width: 100vw; */
  display: block;
  font-family: futura;
  color: #161846;
  font-weight: 800;
  position: relative;
  margin-top: 2%;
  text-align: center;
  overflow: auto;
  height: 500px;
  width: 100%

}

.event-page form {
  padding-bottom: 2%;
  padding-top: 2%;
}

.event-page h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}

.event-form-page {
  /* margin-left: 35%; */
  width: 100%;
  display: block;
  font-family: futura;
  color: #161846;
  font-weight: 800;
  position: fixed;
  text-align: center;
  padding: 2%;
  overflow: auto;
}

.event-form input {
  min-height: 40px;
  font-size: 14px;
  text-align: center;
  font-family: futura;
  margin-left: 5px;
  margin-right: 5px;
}

.event-form select {
  min-height: 40px;
  font-size: 14px;
  text-align: center;
  font-family: futura;
}

.event-form textarea {
  min-height: 40px;
  font-size: 14px;
  text-align: center;
  font-family: futura;
}

.event-teal-button input[type=submit] {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  color: #161846;
  border-color:#54a4a6;
  background-color: #54a4a6;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 5px;
  width: 200px;
}
