$navy: #161846;
$orange: #dd7a00;
$teal: #54a4a6;
$white: #fff;
$gray: #E9EEEE;
$futura: futura, arial, sans-serif;

//  TO DO -- MEDIA QUERY

body {
  margin: 0;
  font-family: futura;
  font-weight: 700;
  font-size: 16px;
}

// HOME
.home {
  width: 100%;
  height: 100%;
  font-family: futura, arial, sans-serif;
  font-size: 3em;
  font-weight: 800;
  text-transform: uppercase;
  color: $gray;
  position: fixed;

  a {
    text-decoration: none;
    color: $gray;
  }

  .brainstorm {
    background-color: $navy;
    float: left;

    h3:hover {
      color: $orange;
    }
  }

  .host {
    background-color: $teal;
    float: right;

    h3:hover {
      color: $navy;
    }
  }

  .launch {
    width: 50%;
    height: 100vh;
    text-align: center;
    h3 {
      padding: 30% 0 0 0;
    }
  }
}

// BRAINSTORM
.brainstorm-page {
  font-family: $futura;
  color: $gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  // align-items: center;


  a {
    text-decoration: none;
    color: $gray;
  }

  .brainstorm-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    margin: 0 5% 2%;

    a {
      text-decoration: none;
      color: $gray;
    }

    button {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 1em;
      color: $navy;
      border-color:$teal;
      background-color: $teal;
      text-align: center;
      padding: 2% 0;
      margin: 0 10px;
      width: 200px;
      cursor: pointer;
    }

    div {
      margin: 0;
    }

    h3 {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 2em;
      color: $navy;
      margin: 2% 0 0;
      padding: 0;
    }
  }

  .brainstorm-header {
    position: sticky;
    top: 20%;
    // padding: 3% 0 0 0;
    background-color: $white;
    width: 100%;
  }

  .idea-card {
    max-height: 200px;
    font-size: 1em;
    border-color: $navy;
    background-color: $navy;
    text-align: center;
    margin: 1%;
    padding: 1% 0 5%;
    text-transform: uppercase;

    button {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 1em;
      color: $navy;
      text-align: center;
      background: $orange;
      border-color:$orange;
      margin: 1%;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }

    h4 {
      font-size: 2em;
      padding: 2% 0 0;
    }
  }

  .idea-container {
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    width: 100%;
  }
}

// MENU
.menu-page {
  font-family: $futura;
  color: $teal;
  font-weight: 800;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  width: 100%;
  height: auto;

  a {
    text-decoration: none;
    color: $teal;
  }

  .back {
    float: right;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: 0 0 10px 0;
    height: auto;
    cursor: pointer;

    h3 {
      font-size: 50px;
    }
  }

  .menu-div {
    background: $navy;
    min-height: 150px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 0 10px 0;
    height: auto;

    h3 {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 2em;
      color: $teal;
      text-align: center;
      align-items: center;
    }
  }
}

// NAVIGATION
.navigation-bar {
    width: 100%;
    background-color: $white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;

  .logo {
    max-width: 600px;
    width: 100%;
    padding: 5%;
  }

  .account {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .icon {
    max-width: 80px;
    min-width: 40px;
    width: 100%;
    height: 100%;
  }
}

// NOTIFICATIONS
.notification-page {
    width: 100%;
    font-family: $futura;
    color: $teal;
    font-weight: 800;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;


  .back {
    float: right;
    position: sticky;
    top: 20%;
    background: $white;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: 0 0 10px 0;
    height: auto;
    cursor: pointer;

    h3 {
      font-size: 50px;
    }
  }

  p {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5em;
    padding: 5%;
  }

  a {
    text-decoration: none;
    color: $teal;
  }

  .notification-box {
    background: $navy;
    width: 90%;
    margin: 0 0 5px 0;
    height: auto;
  }

}

// NEWIDEA FORM
.idea-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  font-family: $futura;
  color: $navy;
  font-weight: 800;
  font-size: 1em;
  text-align: center;
  padding: 2%;
  overflow: auto;

  form {
    padding: 2% 0;
  }

  h1,h2, h3,h4 {
    margin: 0;
    padding: 0;
    color: $teal;
    font-size: 2em;
  }

  input, select, textarea {
    min-height: 30px;
    font-size: 12px;
    min-width: 315px;
    font-family: $futura;
    font-size: 1em;
    padding: 5px;
  }


}

// HOST FORM
