.login-form div {
  width: 100vw;
  display: block;
  font-family: futura;
  color: #161846;
  font-weight: 800;
  position: relative;
  margin-top: 2%;
  text-align: center;
  overflow: auto;
  height: 400px;

}

.login-page form {
  padding-bottom: 2%;
  padding-top: 2%;
}

.login-page h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}

.toggle img {
  margin-bottom: 0;
  padding-bottom: 0;
  position: absolute;
  top: 10%;
  /* vertical-align: middle; */
}

.login-page {
  /* width: 100%; */
  margin-left: 20%;
  height: 100vh;
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  font-family: futura;
  color: #161846;
  /* font-size: 3em; */
  font-weight: 800;
  position: absolute;
  text-align: center;
  padding: 2%;
  overflow: auto;
  height: 100%;
}

.login-form input {
  min-height: 30px;
  font-size: 12px;
  text-align: center;
  font-family: futura;
  margin-left: 5px;
  margin-right: 5px;
}

.login-form select {
  min-height: 30px;
  font-size: 12px;
  text-align: center;
  font-family: futura;
}

.login-form textarea {
  min-height: 30px;
  font-size: 12px;
  text-align: center;
  font-family: futura;
}

.teal-welcome-button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  color: #161846;
  border-color:#54a4a6;
  background-color: #54a4a6;
  text-align: center;
  margin-top: 2%;
  width: 200px;
}
