.home-container {
   width: 100%;
   font-family: tahoma;
   font-size: 3em;
   font-weight: 800;
   text-transform: uppercase;
   color: white;
   position: fixed;
 }

 .home-brainstorm {
   float: left;
   width: 50%;
   height: 100vh;
   background-color: #161846;
 }

 .home-brainstorm h3:hover {
   color: #dd7a00;
 }

 .home-brainstorm h3 {
   text-align: center;
   padding-top: 30%;

 }

 .home-host {
   float:left;
   width: 50%;
   height: 100vh;
   background-color: #54a4a6;

 }

 .home-host h3:hover {
   color: #161846;
 }

 .home-host h3 {
   text-align: center;
   padding-top: 30%;

 }

 .home-container a {
   text-decoration: none;
   color: white;
 }
